{% include 'header.html' %}

<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Crear Categoria</h3>
      <div class="card-text">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre de la Categoria</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="txtCategoria"
              name="txtCategoria"
              aria-describedby="categoriaHelp"
            />
          </div>

           
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
