{% include 'header.html' %}

<form id="frmLibro" method="post" action="{{url_for('guardarLibro')}}">
    <div class="container" > 
        <div class="card text-bg-dark mb-3" style="max-width: 40rem; " >
            <div class="card-header">Add a new book</div>
            <div class="card-body text-primary">
                <div class="row m-1">
                    <div class="col">CODE</div>
                    <div class="col col-md-2">
                        <input class="form-control" type="text" name="txtCodigo" id="txtCodigo">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col">NAME</div>
                    <div class="col col-md-4">
                        <input class="form-control" type="text" name="txtNombre" id="txtNombre">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col">Category</div>
                    <div class="col col-md-5">
                        <input class="form-control" type="text" name="txtCategoria" id="txtCategoria">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col">Author</div>
                    <div class="col col-md-3">
                        <input class="form-control" type="text" name="txtAutor" id="txtAutor">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-3">
                        <input class="btn btn-primary" type="submit" value="SAVE">
                    </div>
                    <div class="col col-md-3">
                        <input class="btn btn-warning" type="reset" value="NEW">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% include 'footer.html' %}