{% include 'header.html' %}
<table
id="ejemplo"
class="table table-striped table-bordered"
style="width: 100%"
>
<thead>
  <tr>
    <th>#</th>
    <th>Nombre del Libro</th>
    <th>Acciones</th>
  </tr>
</thead>
<tbody>
  
    {% for i in range(0, librosLen) %}
        <tr>
            <td>{{i}}</td>
            <td>{{libroslist[i]}}</td>
            <td><a href="#">ver libro</a></td>
        </tr>
    {% endfor %}
 

    

</tbody>
</table>

{% include 'footer.html' %}