{% include 'header.html' %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="titulo-tabla">Lista de Usuarios</h3>

      <table
        id="ejemplo"
        class="table table-striped table-bordered"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre de Usuarios</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Pedro</td>
            <td>Editar / Eliminar</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Alfredo</td>
            <td>Editar / Eliminar</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Beto</td>
            <td>Editar / Eliminar</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include 'footer.html' %}
